@use 'variables';

.cast {
    padding: 3vw 5.5vw;
    margin-top: -50px;
    height: 130vh;

    @media (max-width: 767px) {
        padding: 20vw 2vw;
        height: 130vh;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        font-size: 40px;
        padding: 10vw 5vw;
        width: 174.8vw;
        height: 290vh;
    }

    background-color: variables.$buttonPrimaryColor;

    &__actors {
        max-width: 1300px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 200px;

        @media (max-width: 767px) {
            max-width: 300px;
            width: 90%;
            grid-template-columns: 1fr 1fr;
            gap: 50px;
        }

        @media (min-width: 768px) and (max-width: 1023px) {
            max-width: 500px;
            width: 90%;
            grid-template-columns: 1fr 1fr;
            gap: 100px;
        }

        &__actor {
            margin-bottom: -120px;
            width: 200px;
            height: 300px;

            @media (max-width: 767px) {
                margin-bottom: 50px;
                width: 160px;
                height: 210px;
            }

            @media (min-width: 768px) and (max-width: 1023px) {
                margin-bottom: 50px;
                width: 560px;
                height: 780px;
            }

            .images {
                height: 100%;
                width: 100%;
            }

            .text-secondary {
                text-align: center;

                @media (min-width: 768px) and (max-width: 1023px) {
                    font-size: 40px;
                }
            }
        }
    }
}