.galery {
    padding: 10vw 5.5vw;

    @media (max-width: 767px) {
        padding: 20vw 2vw;
    }

    &__images {
        display: flex;
        max-width: 1300px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        @media (max-width: 767px) {
            max-width: 500px;
            grid-template-columns: 1fr 1fr;
            gap: 7px;
        }

        &__image {
            max-width: 330px;
            width: 100%;
            margin-bottom: 50px;
            border-radius: 2px;

            @media (max-width: 767px) {
                max-width: 190px;
                margin-bottom: 10px;
            }
        }
    }
}