@use 'variables';

.header {
    max-width: 1250px;
    width: 100%;
    padding: 1vw 5.5vw;
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
        display: block;
        max-width: 500px;
        width: 100%;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        max-width: 1000px;
        width: 90%;
        padding: 5vw 13vw;
        display: flex;
    }

    &__logo {
        max-width: 110px;
        width: 100%;

        @media (max-width: 767px) {
            max-width: 500px;
            width: 100%;
            padding: 20vw 1vw;
        }

        @media (min-width: 768px) and (max-width: 1023px) {
            max-width: 200px;
            width: 100%;
            position: absolute;
        }
    }

    &__links {
        right: 0;
        display: flex;

        @media (max-width: 767px) {
            max-width: 120px;
            display: block;
            margin: 0 auto;
        }

        @media (min-width: 768px) and (max-width: 1023px) {
            max-width: 10px;
            margin: 29px 0 0 660px;
        }

        &__item {
            padding: 10px 14px;
            margin: 5px;
            background-color: variables.$buttonPrimaryColor;
            border-radius: 2px;

            .button {
                color: variables.$textSecondaryColor;
            }

            &:hover {
                background-color: variables.$buttonSecondaryColor;
            }

            @media (min-width: 768px) and (max-width: 1023px) {
                margin: 10px;
            }
        }
    }
}