.hero {
    padding: 10vw 5.5vw;
    height: 60vh;
    margin-top: 24px;
    background-image: url(../../dist/images/the_batman_hero.jpg);
    text-align: left;
    background-size: cover;

    @media (max-width: 767px) {
        padding: 14vw 2vw;
        height: 38vh;
        margin-top: 100px;
    }

    &__content {

        @media (max-width: 767px) {
            max-width: 250px;
            margin-top: 20px;

            .text-secondary {
                font-size: 11px;
            }
        }

        .info {
            margin-top: 20px;
            max-width: 600px;
            width: 100%;
            text-align: justify;
        }
    }
}