
$fontStandard: Ysabeau SC, sans-serif;
$textPrimaryColor: #d7d7d7;
$textSecondaryColor: #111111;
$backgroundPrimaryColor: #020202;
$buttonPrimaryColor: rgb(212, 32, 32);
$buttonSecondaryColor: rgb(188, 32, 32);