@use 'variables';

.watch {
    padding-left: 5.5vw;
    padding-bottom: 8vw;

    @media (max-width: 767px) {
        padding: 1vw 2vw;
        margin-bottom: 50px;
    }

    &__online {
        background-image: url('../../dist/images/banner.jpg');
        width: 1300px;
        height: 370px;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        position: relative;

        @media (max-width: 767px) {
            width: 375px;
        }
        

        .button {
            margin: 325px 10px;
            position: absolute;
            color: variables.$textPrimaryColor;
            padding: 10px 14px;
            background-color: variables.$buttonPrimaryColor;
            border-radius: 2px;

            &:hover {
                background-color: variables.$buttonSecondaryColor;
            }

            @media (max-width: 767px) {
                margin: 27vw 2vw;
                padding: 2px 2px;
                font-size: 10px;
            }
        }
    }
}